@import '../../../assets/stylesheets/foundation/config';
@import '../../../assets/stylesheets/foundation/helpers';

.MainNavigation {
  border-bottom: 1px solid $white;
  margin-bottom: $spacing-m;

  &_List {
    @extend %is-clean-list ;
    display: flex;
    justify-content: space-evenly;

    @include mq(S) {
      max-width: 60vw;
      margin: auto;
    }

    @include mq(L) {
      max-width: 30vw;
    }

    &Item {
      padding: $spacing-s;
      margin: $spacing-xs;

      @include mq(M) {
        font-size: $font-size-m;
      }

      @include mq(L) {
        font-size: $font-size-l;
      }
    }
  }
}