@import 'foundation/config';
@import 'foundation/helpers';

body {
  color: $white;
  background-color: $black;
  font-size: $font-size-default;
  font-family: $font-family-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
}

main {
  margin: 0 1rem;
  
  @include mq(M) {
    max-width: 75vw;
    margin: auto;
  }

  @include mq(L) {
    max-width: 60vw;
  }
}

h1, h2 {
  color: $white;
  font-family: $font-family-secondary;
  font-weight: normal;
  text-transform: capitalize;

  @include mq(L) {
    font-size: $font-size-xxl;
  }
}

a {
  color: $yellow;
  text-decoration: none;

  &.router-link-active {
    color: $blue;
  }
}

label {
  display: block;
  margin-bottom: .75rem;
}

input {
  padding: .25rem;
  max-width: 250px;
}

.swapi-itemSheet_Container {
  padding: 2rem;
  border: 1px solid #ddd;
}