@import 'foundation/config';
@import 'foundation/helpers';

body {
  color: $white;
  background-color: $black;
  font-size: $font-size-default;
  font-family: $font-family-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}

h1, h2 {
  color: $white;
  font-family: $font-family-secondary;
  font-weight: normal;
  text-transform: capitalize;
}

a {
  color: $yellow;
label {
  display: block;
  margin-bottom: .75rem;
}

input {
  padding: .25rem;
  max-width: 250px;
}

.swapi-itemSheet_Container {
  padding: 2rem;
  border: 1px solid #ddd;
}